# The requirements for a ReadTheDocs build only.
# This file excludes the following packages:
# * nibabel
# * any packages which depend on nibabel
# * mpi4py
#
# ReadTheDocs build fails on nibabel and dependent packages, since
# numpy must be built before the requirements are even collected,
# as explained in the qipipe Installation Guide. ReadTheDocs does
# not support this customization.
#
# ReadTheDocs build fails on mpi4py, since the environment cannot
# build MPI programs.
#
bunch
inflection
numpy
scipy
sympy
matplotlib
nipy
dipy
traits
networkx
openpyxl
six
qiutil
qidicom
qixnat
qiprofile-rest-client
