httplib2
lxml
pydicom
numpy
nibabel
scipy
nipy
dipy
traits
-e git+http://github.com/moloney/dcmstack.git#egg=dcmstack
-e git+http://github.com/FredLoney/nipype.git#egg=nipype
nose
-e git+http://github.com/FredLoney/pyxnat.git#egg=pyxnat
pyyaml
