numpy==1.9.0
nibabel==1.3.0
scipy==0.14.0
sympy==0.7.5
matplotlib==1.3.1
nipy==0.3.0
dipy==0.7.1
traits==4.4.0
nose==1.3.0
git+git://github.com/moloney/dcmstack.git@0.7.dev#egg=dcmstack
git+git://github.com/FredLoney/nipype.git#egg=nipype-master
qiutil==1.1.2
