# The requirements for a ReadTheDocs build only. This file includes
# the subset of the ``requirements.txt`` packages which are required
# for documentation generation.
#
# This requirement subset works around the following problems:
#
# * ReadTheDocs build fails on nibabel and dependent packages, since
#   numpy must be built before the requirements are even collected,
#   as explained in the qipipe Installation Guide. ReadTheDocs does
#   not support this customization. This is not a problem with the
#   two-stage conda/pip install, but ReadTheDocs is a distutils-only
#   install.
#
# * ReadTheDocs build fails on mpi4py, since the environment cannot
#   build MPI programs.
#
# Note: nibabel is imported in some modules, e.g. helpers/roi.py.
# RTD compiles and documents these modules. It is unknown why RTD
# succeeds.
#
bunch
inflection
numpy
matplotlib
traits
networkx
openpyxl
six
qiutil
qidicom
qixnat
qiprofile-rest-client
